<h1>Editing resume datum</h1>

<%= render "form", resume_datum: @resume_datum %>

<br>

<div>
  <%= link_to "Show this resume datum", @resume_datum %> |
  <%= link_to "Back to resume data", resume_data_path %>
</div>
